<div class="chat-container" [ngClass]="{'hide': is_hide, 'collapse': is_collapse}">

  <div class="chat_header" (click)="toggleChat()">
    <p>in·tro·spec·tion
      <span class="badge badge-pill badge-danger ml-2" *ngIf="is_hide && new_msg_count > 0">{{new_msg_count}}</span>
    </p>
  </div>

  <ul class="chat_box">
    <li *ngFor="let msg of msg_list">
      <span>{{msg.username}}</span>- {{msg.message}}
    </li>
  </ul>

  <div class="chat_input" [ngClass]="{'collapse': is_hide}">
    <input placeholder="Aa" type="text" #msg (keyup.enter)="onEnter(msg.value); msg.value = ''" [ngClass]="{'collapse': is_hide}">
  </div>

</div>