<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
          <div class="card-header bg-info">
            <h3 class="mb-0 text-white">Login</h3>
          </div>
          <div class="card-body">
            <div class="form">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" required [(ngModel)]="username" />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" required [(ngModel)]="password" />
              </div>
              <a href="http://10.140.23.43/oauth2/authorization/google" class="btn btn-secondary">Login using Google</a>
              <button type="submit" class="btn btn-success" id="btnLogin" (click)="login()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
