<div style="text-align: center">

  <h1 *ngIf="!isGame">Let's play !</h1>
  <h1 *ngIf="isGame">Calm down ! Next game start in {{timer}}</h1>
  <p>Fill the textarea the faster as you can.</p>

  <div class="gameboard">

    <p class="text_play">{{game_string}}</p>

    <textarea type="text" class="input_play" #textarea (keydown)='entryKey()' [ngClass]="{'error': state == 'error', 'finish': state == 'finish'}"></textarea>

  </div>


  <div class="progress mt-4">
    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" *ngIf="progress >= 100">100%</div>

    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progress + '%'}"
      *ngIf="progress < 100">{{progress}}%</div>
  </div>

</div>