<mat-card>
  There is {{usersStats.length}} player<span *ngIf="usersStats.length > 1">s</span> in this round.
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let user of usersStats">
      <div class="name">{{user.username}}</div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%" *ngIf="user.progress === 100">100%</div>

        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"
          [ngStyle]="{'width': user.progress + '%'}" *ngIf="user.progress !== 100">{{user.progress}}%</div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-card>